.container {
    color: red;
}

.recipe-card {
    text-align: center;
    border: 2px solid darkred;
    margin:300px;
}
.ingredients{
    

}
.listed-ingredients {
    list-style-position: inside;
   padding: 5px;
}
